h1 {
    font-family: 'Segoe UI';
    color: lightcoral;
    font-size: 80pt;
    background-color: lightblue;
}
p strong {
	color: red;
}
p {
	color: green;
}
h1 strong {
    font-style: italic;
    color: cyan;
}
#top {
    background-color: seagreen;
    padding: 20px
}