h1 {
	color: orange;
	font-style: italic;
}
#intro {
	color: red;
}
#listhead {
	font-style: italic;
	font-size: 20px;
	font-family: georgia
	color: navy;
}
.navbar {
	font-family: arial;
	background-color: yellow;
	font-family: sans-serif;
}